body {
    background-color: #eaeaea;
    font-family: 'Montserrat', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.wrapper {
    position: relative;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.cover-center {
    text-align: center;
}

.main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 35px;
}

.site-nav {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #494949;
}

.site-nav > li {
    position: relative;
    padding-left: 34px;
    margin-left: 26px;
}

.site-nav li a {
    color: #494949;
}

.site-nav li:first-child {
    margin: 0;
    padding: 0;
}

 .site-nav li:nth-child(2) {
    margin-left: 27px;
    padding-left: 24px;
} 

.site-nav li:nth-child(3) {
    margin-left: 25px;
    padding-left: 26px;
    
}

.site-nav li:nth-child(4) {
    margin-left: 20px;
    padding-left: 28px;
    padding-right: 31px;
}

.site-nav li::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 2px;
    height: 100%;
    color: #494949;
    background-color: #494949;
}

.site-nav li:first-child::before {
    display: none;
}

.content {
    padding-bottom: 14px;
}

.features {
    background-image: url(../image/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 206px;
    padding-bottom: 285px;
    color: #ffffff;
}

.pizza {
    position: absolute;
    right: 17px;
    top: -200px;
}

.title {
    font-size: 50px;
    margin-bottom: 11px;
    letter-spacing: 0.5;
    /* letter-spacing: 0.5px; */
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 30px;
    max-width: 570px;
    margin-bottom: 24px;
    margin-top: 0px;
    letter-spacing: 0.29px;
}

.btn {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #ffffff;
    padding: 12px 0px;
    max-width: 186px;
    text-align: center;
}

.algorithm {
    padding-top: 76px;
    padding-bottom: 94px;
}

.order-actions {
    position: relative;
    font-size: 45px;
    color: #282828;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    padding-right: 127px;
    padding-left: 127px;
    margin-bottom: 7px;
}

.order-actions::before, 
.order-actions::after {
    content: '';
    position: absolute;
    background-image: url(../image/item.png);
    width: 102px;
    height: 28px;
    top: calc(50% - 14px);
}

 .order-actions::before {
    left: 0;
}

.order-actions::after {
    right: 0;
}

.order-actions + p {
    color: #959595;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 37px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 63px;
}

.menu li {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.menu li::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 2px;
    height: 100%;
    color: #494949;
    background-color: #494949;
}

.menu li:first-child::before {
    display: none;
}

.menu li a {
    color: #494848;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.menu li .active {
    border-bottom: 4px solid #ee252d;
    position: relative;
}

.menu li .active::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0; 
    bottom: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #ee252d;
}

.box {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    margin-bottom: 100px;
}

.box-item {
    padding: 59px 0 40px 55px;
    /* margin-bottom: 0px; */
    box-sizing: content-box;
}

.number {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    font-weight: 900;
    margin-bottom: 14px;
    margin-top: 0;
    color: #282828;
    /* text-transform: uppercase; */
}

.number::after {
    content: '';
    display: block;
    position: absolute;
       
}

.number-one::after {
    background-image: url(../image/icon01.png);
    width: 126px;
    height: 71px;
    left: 69px;
    top: calc(50% - 35px);
}

.number-two::after {
    background-image: url(../image/icon02.png);
    width: 184px;
    height: 81px;
    left: 88px;
    top: calc(50% - 40px);
}

.number-three::after {
    background-image: url(../image/icon03.png);
    width: 142px;
    height: 68px;
    left: 94px;
    top: calc(50% - 34px);
}

.box-text {
    border-right: 1px solid #eaeaea;
    padding-right: 55px;
}

.box-item:last-child .box-text {
    border-right: none;
}

.box-text h3 {
    font-size: 45px;
    color: #282828;
    margin-bottom: 11px;
    margin-top:  0;
    text-transform: uppercase;
}

.box-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #282828;
    line-height: 24px;
    margin-top: 0;
} 

.btn-start {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    background-image: url(../image/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 29px 58px;
    /* margin-top: -23px; */
}

.main-footer {
    background-image: url(../image/footer.png);
    padding: 23px 0;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 1200px) {
    .wrapper {
        max-width: 800px;
    }

    .pizza {
        display: none;
    }

    .banner {
        padding-top: 76px;
        padding-bottom: 100px;
    }

    .title, .box-text h3 {
        font-size: 35px;
    }

    .description {
        font-size: 18px;
    }

    .menu li {
        position: relative;
        padding-left: 15px;
    }

    .box {
        flex-direction: column;
    }

    .box-text {
        border-right: none ;
        border-bottom: 1px solid #eaeaea;
        padding-right: 0;
        padding-bottom: 30px;
    }
    
    .box-item {
        padding: 30px 55px 24px 55px;
    }

    .box-item:last-child .box-text {
        border-bottom: none;
    }
        
}

@media (max-width: 800px) {
    .main-navigation {
        flex-direction: column;
    }

    .site-nav {
        margin-top: 34px;
    }

    .order-actions::before, 
    .order-actions::after {
        display: none;
    }

    .btn-start {
        font-size: 20px;
        background-size: contain;
    }

    .main-footer {
        padding: 13px 0;
        font-size: 15px;
    }
} 
